# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Environment
.env

# ChromaDB
chroma_db/

# Uploaded repositories
repositories/

# Logs
*.log

# VS Code
.vscode/

# macOS
.DS_Store

# Node
frontend/node_modules/
frontend/dist/

# Build
build/
dist/

uploads/